<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    
</head>
<body>
    <div id="upper">
    <div id='deck'></div>
    <div class = "card newslot" id="newslot"></div>
</div>
<div id="lower">
<div id = "oldcards"></div>
</div>
<script src="/js/script.js" type="module"></script>
</body>
</html>