<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Draw Cards</title>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap" rel="stylesheet">
    

</head>
<body>
    
    <div id="upper">
    <div id="deck" class="deck">draw</div>
    <div class = "newslot" id="newslot"></div>
    
  
    <button type="submit" id="save"> Save this reading  </button>
    <a href="/home"><button id="home">Return home</button></a>
    
</div>
<div id="lower">
<div id="signifier"></div>
<div id = "oldcards"></div>
</div>
<script src="/js/script.js" type="module"></script>
</body>
</html>