<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diary</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    DIARY PAGE
    <a href="/home"><button>Return home</button></a>
    <div id="upper">
       

    
    
    <% for (let entry of entries){ %>
    <% let signifier = {} %>
    <%  for (let card of Deck.cards){%>
        <% if (card.suit === entry.cards[0].suit&& card.number===entry.cards[0].number){signifier=card} }%> 
           
        <div class="card"><a href="/diary/<%=entry._id%>"><img src="../cards/<%=signifier.img%>"></img></a>
            <p><%= entry.created_at %></p>
        </div> 

   
    <%}%>
    </div>
   
</body>
</html>