<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>WELCOME</title>
</head>
<body><div id="upper">
    <a href="/draw"><div class="card"> <img src="/cards/m01.jpg"><p>New reading</p></div></a>
    <a href="/diary"><div class="card"><img src="/cards/c07.jpg"><p>View diary</p></div></a>
</div>
</body>
</html>