<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <h1>new entry</h1>
    <br />
    <div class="card dropdown">
      add a card
      <div class="dropdown" id="new">
        
            
        <div class="dropdown-content">"
        <ul>  <li> major arcana</li>
          <li>
            minor arcana
        
                <ul>
                <li>cups</li>
                <li>pentacles</li>
                <li>wands</li>
                <li>swords</li>
            </ul>  
        </li>    
        </ul>
            </div>
          </li>
        
      </div>
    </div>
  </body>
</html>
